{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<h1>Наш магазин</h1>
<h3>Наши товары:</h3>
{% for pr in products %}
    {% if pr.image %}<img src="{{ pr.image.url }}" width="100" height="auto">{% endif %}
    <p><a href="/products/{{ pr.id }}">{{ pr }} - {{ pr.price }} руб.</a></p>
    <br><br>
{% endfor %}
</body>
</html>